@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/** 
 * The following styles Markdown checkboxes (`- [ ]`) from `remarkGfm`. Since it generates class
 * name references, we need to use selectors that can refer to the class names, literally. So the
 * style definitions must be imported directly from a CSS file, not as a CSS-module. Thus, I put
 * them here, rather than a separate CSS file.
 * 
 * The checkbox lists are mapped to `<ul class="contains-task-list">` with list-items
 * `<li class="task-list-item">`. Adjacent non-checkbox list items are contained in the same  list
 * without the `task-list-item` class name. 
 * 
 * 1. By default, checkboxes are preceded with a bullet, so the bullet marker must be suppressed
 * 2. Once the bullet is suppressed, the position of the item has to be adjusted so it
 *    aligns with other list items.
 * 3. An edge case is that if a non-checkbox list-item is included in the list, its postion
 *    has to look "normal."
 */
ul.contains-task-list li.task-list-item {
  list-style-type: none; /* Remove list style for task list items */
  text-indent: -18px;    /* ...and outdent it so it aligns        */
}
