/**
 * Style definitions for tags corresponding to Markdown for MDX components
 * This file provides a reset for common HTML elements used in MDX content to ensure
 * consistent styling.
 */

/* * {
	all: initial;
	display: revert; // Revert display to its default based on tag
} */

._mdxWrapper {
	h1, h2, h3, h4, h5, h6, p, blockquote, pre, table {
		display: block;
		margin-block: initial;
		margin-inline: initial;
	}

	h1, h2, h3, h4, h5, h6 { font-weight: bold; }

	h1 {
		border-top: 1px solid lightgray;
		margin-block-start: 0.67em;
		font-size: 2em;
	}
	h2 { margin-block-start: 0.83em; font-size: 1.5em; }
	h3 { margin-block-start: 1em;    font-size: 1.17em; }
	h4 { margin-block-start: 1.67em; font-size: 1em; }
	h5 { margin-block-start: 1.33em; font-size: 0.83em; }
	h6 { margin-block-start: 2.33em; font-size: 0.67em; }

	p { margin-block: 0.4em; }

	a {
		color: -webkit-link;
		text-decoration: underline;
		cursor: pointer;
	}

	ul, ol {
		display: block;
		padding-inline-start: 40px;
	}
	ul { list-style-type: disc; }
	ul ul { list-style-type: circle; }
	ul ul ul { list-style-type: square; }
	ol { list-style-type: decimal; }
	/* li { display: list-item; margin-block: 0.2em; } */

	blockquote {
		margin-block: 1em;
		margin-inline: 40px;
	}
	code, pre {
		font-family: monospace;
	}
	pre {
		display: block;
		margin-block: 1em;
		white-space: pre;
	}

	img {
		display: inline-block;
		max-width: 100%;
		height: auto;
	}

	table {
		/* Table styling variables */
		/* --table-border-color: blue; */
		/* --table-border-width: 2px;																 *//* Enable to non-0 to surround table with border */
		/* --table-header-background-color: #f2f2f2; */											/* Enable for distinct header background	color */
		--table-header-border-color: #BBB;														  /* Defaults to cell border color			*/	
		--table-header-border-width: 2px;															/* Defaults to row border width			*/
		--table-body-row-border-width: 1px; 														/* Enable to non-0 show row dividers 	*/
		--table-body-col-border-width: var(--table-body-row-border-width,1px); 	/* Enable to non-0 show col dividers 	*/
		--table-body-cell-border-color: lightgray;												/* Override border color 					*/					
		--table-body-background-color: white;														/* Even row background color 				*/
		--table-body-background-color-alt: #f9f9f9;												/* Odd row background color 				*/
		margin-left: var(--table-body-row-border-width,0);
		border-collapse: collapse;
		/* box-sizing: border-box; */
		text-indent: initial;
	}
	thead, tbody, tfoot {
		/* display: table-header-group; */ /* Revert display to default */
		vertical-align: middle;
	}
	thead {
		border-color: var(--table-border-color); 
		border-width: var(--table-border-width,0) var(--table-border-width,0) 0 var(--table-border-width,0); 
	}
	tbody {
		/* display: table-row-group; */ /* Revert display to default */
		border-color: var(--table-border-color); 
		border-width: 0 var(--table-border-width,0) var(--table-border-width,0) var(--table-border-width,0); 
	}
	thead th {
		/* display: table-row-group; */ /* Revert display to default */
		background-color: var(--table-header-background-color, inherit);
		/* border-style: solid; */
		border-color: var(--table-header-border-color, var(--table-body-cell-border-color));
		border-bottom-width: var(--table-header-border-width,var(--table-body-row-border-width,0));
	}
	tr {
		/* display: table-row; */ /* Revert display to default */
		vertical-align: inherit;
		border: none; /* Disable row borders */
		border-color: inherit;
	}
	td, th {
		/* display: table-cell; */ /* Revert display to default */
		/* No top border, conditional side/bottom borders */
		border-width: 0 var(--table-body-col-border-width, 0px) var(--table-body-row-border-width, 0px) var(--table-body-col-border-width, 0px);
		border-color: var(--table-body-cell-border-color);
		padding-inline: 8px;
	}
	/* No side borders */
	td:last-child, th:last-child { border-right: none; }
	td:first-child, th:first-child { border-left: none; }

	/* Alternating background colors for table rows */
	tbody tr:nth-child(odd)  { background-color: var(--table-body-background-color); }
	tbody tr:nth-child(even) { background-color: var(--table-body-background-color-alt); }

 } /* ._mdxWrapper */

